.circle {
  position: relative;
  width: 40vw;
  height: 40vw;
  margin: 0.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

.increment {
  font-size: 10vw;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  position: absolute;
  margin-right: 18vw;
}

.decrement {
  font-size: 10vw;
  font-family: 'Courier New', Courier, monospace;
  color: red;
  position: absolute;
  margin-left: 18vw;
}