.header {
  height: 10vh;
}

.spiega {
  text-align: center;
  font-weight: bold;
}

.clessidraContainer {
  width: 30%;
}

.widgetContainer {
  display: flex;
  width: 90vw;
  margin: 5vh auto;
  height: 55vh;
  align-items: center;
  justify-content: center;
}

.widget {
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.comands {
  position: absolute;
  top: -5vh;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comands img {
  width: 5vh;
}

.title {
  font-size: 0.9em;
}

.indicazioni {
  font-size: 1.2em;
}

.scrigno {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

@media only screen and (orientation: portrait) {

  .widgetContainer {
    display: block;
  }

  .widget {
    float: left;
    width: 50%;
    height: 50%;
    align-items: baseline;
  }

  .widget select {
    width: 15vw;
  }
}