.header {
  height: 10vh;
}

.spiega {
  text-align: center;
  font-weight: bold;
}

.clessidraContainer {
  width: 30%;
}

.square {
  width: 20vw;
  height: 20vw;
  border: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.rollValue {
  color: black;
  color: black;
  font-size: 4em;
  text-align: center;
}

.scene {
  width: 200px;
  height: 200px;
  margin: 20px;
  perspective: 600px;
}

.rollBtn {
  background: black;
  color: white;
  border: none;
  margin: auto 0;
  font-size: 1.5em;
  margin-top: 1em;
  width: 200px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube__face1,
.cube__face2,
.cube__face3,
.cube__face4,
.cube__face5,
.cube__face6 {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: black;
  opacity: 0.75;
}

.tr1 {
  transform: rotateY(0deg) translateZ(100px);
}

.tr6 {
  transform: rotateY(180deg) translateZ(100px);
}

.tr3 {
  transform: rotateY(90deg) translateZ(100px);
}

.tr4 {
  transform: rotateY(-90deg) translateZ(100px);
}

.tr5 {
  transform: rotateX(90deg) translateZ(100px);
}

.tr2 {
  transform: rotateX(-90deg) translateZ(100px);
}