@media only screen and (orientation: landscape) {

  .pin {
    font: 5ch droid sans mono, consolas, monospace;
  }
}

.top {
  height: 15vh;
  width: 100vw;
  display: flex;
}

.spiega {
  width: 70%;
}


.clessidraContainer {
  width: 30%;
}

.domanda {
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
  padding: 0 0.5rem;
  color: black;
}

.responseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.pin {
  display: block;
  margin-top: 10vh;
  border: none;
  padding: 0;
  width: 16ch;
  width: 80vw;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 15ch 2px no-repeat;
  font: 3.5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
  color: black;
}

.pin:focus {
  outline: none;
  color: black;
}