@media only screen and (orientation: landscape) {

  html body .circle {
    width: 55vh;
    height: 55vh;
  }

  html body .triangle {
    border-width: 15vh 0 15vh 23vh;
    margin-left: 6vh;
  }

  html body .bars {
    width: 18vh;
    height: 28vh;
    border-left: 5vh solid #ffffff;
    border-right: 5vh solid #ffffff;
  }
}

@keyframes slideOff {
  from {
    top: 0
  }

  to {
    top: 50vw;
  }
}

.circle {
  background: green;
  width: 55vw;
  height: 55vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleLand {
  background: green;
  width: 55vh;
  height: 55vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirle.slideOff {
  animation-name: slideOff;
  animation-duration: 1s;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15vw 0 15vw 23vw;
  border-color: transparent transparent transparent #007bff;
  margin-left: 6vw;
}

.bars {
  width: 18vw;
  height: 28vw;
  border-left: 5vw solid #ffffff;
  border-right: 5vw solid #ffffff;
}

.capitolo {
  padding-top: 3vh;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  font-size: 1.5em;
  padding: 0 1em;
  overflow-y: auto;
  height: calc(85vh - 6vh);
}

.imageMiddleText {
  width: 50vw;
  height: auto;
  margin: 0 auto; 
}

.continueBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 8vh;
  border-radius: 5px;
  background-color: green;
  color: black;
  margin: 0 auto;
  margin-bottom: 30vh;
}