@media only screen and (orientation: landscape) {

  html body .circle {
    width: 55vh;
    height: 55vh;
  }

  html body .triangle {
    border-width: 15vh 0 15vh 23vh;
    margin-left: 6vh;
  }

  html body .bars {
    width: 18vh;
    height: 28vh;
    border-left: 5vh solid #ffffff;
    border-right: 5vh solid #ffffff;
  }
}

@keyframes slideOff {
  from {
    top: 0
  }

  to {
    top: 50vw;
  }
}

.capitolo {
  padding-top: 3vh;
  font-size: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  font-size: 1.5em;
  font-family: 'Afterglow';
  padding: 0 1em;
  overflow-y: auto;
  height: calc(85vh - 6vh);
  position: fixed;
  color: black;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .txt {
    padding: 0 30%;
  }
}

.txt p {
  user-select: none;
}

.imageMiddleText {
  width: 50vw;
  height: auto;
  margin: 0 auto;
}

.teschioContainer {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.teschio {
  width: 30vw;
}

.continueBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 8vh;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin: 0 auto;
  margin-bottom: 30vh;
}