@keyframes tilt {
  0% {
    transform: translate(5px, 5px);
  }

  5% {
    transform: translate(-5px, -5px);
  }

  10% {
    transform: translate(-5px, 5px);
  }

  15% {
    transform: translate(5px, -5px);
  }

  20% {
    transform: translate(5px, 5px);
  }

  25% {
    transform: translate(-5px, -5px);
    background-color: white;
  }

  30% {
    transform: translate(-5px, 5px);
    background-color: red;
  }

  35% {
    transform: translate(5px, -5px);
    background-color: white;
  }

  40% {
    transform: translate(5px, 5px);
  }

  45% {
    transform: translate(-5px, -5px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  55% {
    transform: translate(5px, -5px);
  }

  60% {
    transform: translate(5px, 5px);
    background-color: white;
  }

  65% {
    transform: translate(-5px, -5px);
    background-color: red;
  }

  70% {
    transform: translate(-5px, 5px);
    background-color: white;
  }

  75% {
    transform: translate(5px, -5px);
  }

  80% {
    transform: translate(5px, 5px);
  }

  85% {
    transform: translate(-5px, -5px);
    background-color: white;
  }

  90% {
    transform: translate(-5px, 5px);
    background-color: red;
  }

  95% {
    transform: translate(5px, -5px);
    background-color: white;
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 80vh; */
}

.header {
  height: 30vh;
  min-height: 30vh;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.clessidraContainer {
  height: 8vh;
}

.subHeader {
  height: 12vh;
  width: 85vw;
  margin: 1vh 7.5vw 4vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.combinazione {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: space-between;
  height: 5vh;
  font-size: 1.2em;
  font-weight: 600;
}

.combinazione div {
  margin-right: 2vw;
}

.domanda {
  font-size: 2em;
}

.game {
  width: 13vh;
  height: 13vh;
  margin: 1vh;
  box-sizing: border-box;
  border: 1px solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.miniGameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 5vw;
}

.miniGame {
  width: 2vh;
  height: 2vh;
  box-sizing: border-box;
  border: 1px solid;
  float: right;
}

.delete {
  display: none;
}

@media screen and (orientation: landscape) {
  .discoverList {
    height: 13vh;
  }

  .discoverElement {
    width: 18vw;
  }

  .gameContainer {
    height: 65vh;
  }

  .game {
    width: 15vw;
    height: 15vw;
    margin: 1vw;
  }

  .miniGame {
    margin-top: 3px;
    width: 2vw;
    height: 2vw;
  }
}



.containerTilt {
  animation-name: tilt;
  animation-duration: 400ms;
}