.wrapper {
  height: 90vh;
  width: 100vw;
  overflow: auto;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 10vh;
  overflow: hidden;
}

.textContainer {
  padding: 10vh 10vw;
  font-size: 1.3em;
  line-height: 2em;
}

.objects {
  display: flex;
  padding: 0 10vw;
  flex-wrap: wrap;
  justify-content: center;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  height: auto;
  margin-bottom: 5vh
}

.svgContainer svg {
  width: 20vw;
  height: auto;
  margin: 2vw;
}