.wrapper {
  margin-top: 15vh;
  position: absolute;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}

.bkgVideo {
  top: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}