@keyframes mask-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(80vw);
  }
}

@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80vw);
  }
}

.focus {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  width: 179px;
}

.focus:before {
  /* content: 'Carcadena'; */
  content: url('../../assets/images/bottle.jpg');
  filter: blur(20px);
}

.focus:after {
  content: '';
  position: absolute;
  width: 50px;
  /* height: calc(100% + 8px); */
  height: 100%;
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  animation: mask-move 0.5s linear 4 alternate;
}

.focusMask {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background: #89cb66;
  animation: mask-move 0.5s linear 4 alternate;
}

.focusMaskInner {
  animation: mask-inner-move 0.5s linear 4 alternate;
}

.credits {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-style: italic;
  text-align: center;
}

.credits a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}

.credits a:hover {
  text-decoration: underline;
}