/* gioco9*/
.spiega {
  height: 100%;
  width: 100vw;
}

/*cassaforte*/
.spiega {
  text-align: center;
  font-weight: bold;
}

/* etc*/
.spiega {
  width: 40%;
  padding: 0 2vw;
  font-size: 1em;
  font-weight: 500;
}