@charset "UTF-8";

:root {
  --glass-color: #919EB3;
  --frame-color: #C19875;
  --sand-color: #EDD0AA;
}

@keyframes fillbar {
  from {
    width: 0%;
    background-color: #2E7F18;
  }

  15% {
    background-color: #45731E;
  }

  30% {
    background-color: #675E24;
  }

  45% {
    background-color: #8D472B;
  }

  60% {
    background-color: #B13433;
  }

  75% {
    background-color: #C82538;
  }

  90% {
    background-color: darkred;
  }

  to {
    width: 100%;
  }
}

.progress {
  margin: 2vh;
  width: 92vw;
  max-width: 500px;
  border: 3px solid bisque;
  height: 30px;
}


.progressbar {
  height: 100%;
  width: 0%;
  background-color: darkred;
  animation: fillbar var(--duration);
}