@charset "UTF-8";

:root {}

@keyframes ingresso {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.feedbackContainer {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.animationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ingresso 3s;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.animationContainer img {
  max-height: 30vh;
}