@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}


@keyframes emerald {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fullPage {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  background-color: black;
}

.fullPage img{
  width: 100%;
}

.titleContainer {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.title {
  font-size: 1.2em;
  text-align: center;
  height: 30vh;
  margin-top: -10vh;
  padding: 0 15px;
}


.logo {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  animation: appear 2s;
}

.emerald {
  opacity: 0;
  animation-name: emerald;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.emerald img {
  width: 35vw;
  max-width: 35vh;
  height: auto;
}

.salta {
  position: absolute;
  top: 10vh;
  right: 10vw;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: lightgreen;
  border-width: 3px;
  border: 3px solid lightgreen;
}

.saltaAnimation {
  animation-name: emerald;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.animationContainer {
  font-size: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  height: 100%;
  background-color: black;
}

.animation {
  animation: appear 3s;
  text-align: center;
}

.animation2 {
  animation: appear 5s;
  text-align: center;
}

.auricolari {
  font-size: 0.5em;
  text-align: center;
}

.bkgVideo {
  top: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
  z-index: 1;
}

.bkgVideoFull {
  top: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  background-color: black;
}

.credits {
  font-size: 16px;
  animation: appear 10s reverse;
}

.finger {
  position: absolute;
  margin: auto;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 999;
  animation: emerald 2s infinite;
  width: 35vw;
  height: 35vw;
}

.finger img {
  width: 35vw;
  max-width: 35vh;
  height: auto;
}


.fullPageTutorial {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFullPage {
  width: 90%;
  height: calc(95% - env(safe-area-inset-bottom));

}