.wrapper {}

.reset {
  position: absolute;
  top: 5vw;
  right: 2vw;
  border-radius: 50%;
  width: 10vw;
}

.title {
  font-size: 1.6em;
  text-align: center;
  padding-top: 5vh;
  height: 15vh;
}

.scrollerPanel {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10vw 10vh;
  background: white;
}

.scrollerPanel>div {
  margin: 0 -10vw;
  padding: 0 10vw;
}

.scrollerPanel>div:nth-child(2n+1) {
  background: lightgray;
}

.scrollerPanel>div:nth-child(2n) {
  background: lightyellow;
}

.element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  padding: 30px 0;
  height: 100px;
  opacity: 0.4;
  border-bottom: 20px solid white;
}

.unactive {
  text-decoration: line-through;
}

.active {
  opacity: 1;
}

@keyframes view {
  0% {
    transform: scale(8);
  }

  100% {
    transform: scale(1);
  }
}

.element.active .check {
  display: block;
  animation: view;
  animation-duration: 1s;
}

.check {
  width: 10vw;
  display: none;
}

.ach {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ach svg {
  width: 12vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ach .text {
  font-size: 0.7em;
  padding: 0 2vw;
}